# trained models
/classifiers/EPITOME/trained_models/*
/classifiers/empathetic_intent/best_model_sd.pt
/Papers/
/classifiers/epitome_mechanisms/trained_models/*
/Experiments/outputs/*
bert_classifier.pth
bert_classifier_3_levels.pth
bert_classifier_5_levels.pth
bert_classifier_2_levels.pth
bert_classifier_3_extendeddatabase.pth
*.pth
*.pt